
<div class="flex flex-col h-full justify-between">
    
    <app-list-products [listProducts]="productsResponse?.products"></app-list-products>
    
    <div class="flex justify-center py-8">
        <button class="max-w-40 relative w-fit inline-flex items-center justify-center 
                    text-sm font-medium text-gray-900 
                    rounded-lg bg-teal-700
                  dark:text-white">
            <button (click)="onClick()" class="w-full flex gap-3 truncate relative px-2 py-2 text-white">
                <h1>Ver todo</h1>
            </button>
        </button>
    </div>
</div>
