<div class="flex items-center justify-center w-full">
    <label for="file-upload"
        class="flex flex-col items-center justify-center w-full h-52 border-2 border-dashed border-gray-300 rounded-lg cursor-pointer hover:bg-gray-100"
        id="drop-zone">
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg class="w-8 h-8 mb-4 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 48 48" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"
                xmlns="http://www.w3.org/2000/svg" >
                <path d="M24.008 41L24 23m16.518 11.316A9.21 9.21 0 0 0 44 24c-1.213-3.83-4.93-5.929-8.947-5.925h-2.321a14.737 14.737 0 1 0-25.31 13.429"/><path d="M30.364 27.636L24 21.272l-6.364 6.364"/>
            </svg>
            <p class="mb-2 text-sm text-gray-500" id="lbl-selected-files">
                <span class="font-semibold">Click aquí </span> o arrastra los archivos
            </p>
            <p class="text-xs text-gray-500">
                PNG, JPG, JPEG
            </p>
        </div>

        <!-- class="hidden" -->
        <!-- accept only images -->
        <input id="file-upload" name="imageFiles" type="file" accept="image/*" multiple class="hidden" />
    </label>
</div>