@if(productsResponse != null && productsResponse.products.length !== 0){
<div class="flex flex-col h-full justify-between">
    <app-list-products [listProducts]="productsResponse.products"></app-list-products>
    <p-paginator (onPageChange)="onPageChange($event)" [first]="productsResponse.limit" [rows]="4"
        [totalRecords]="productsResponse.total"></p-paginator>
</div>
} @else {

<div class="flex flex-col h-full">
    <div class="flex justify-end p-8">
        <button class="max-w-40 relative w-fit inline-flex items-center justify-center 
                    text-sm font-medium text-gray-900 
                    rounded-lg bg-teal-700
                    dark:text-white">
            <button class="w-full flex gap-3 truncate relative px-2 py-2 text-white">
                <h1>Agregar Producto</h1>
            </button>
        </button>
    </div>
    <div class="flex flex-col  items-center justify-center flex-grow">
        <p class="text-2xl">No hay productos</p>
    </div>

</div>

}