<div class="bg-gray-100">
    <div class="w-full text-gray-700 bg-white">
        <div class="flex flex-col max-w-screen-2xl px-4 pb-4 mx-auto md:items-center md:justify-between md:flex-row">
            <div class="w-full flex flex-row items-center justify-between p-4 space-x-2">
                <app-title></app-title>
                <app-searcher *ngIf="!apperarBottomSearcher()" class="hidden md:flex md:flex-1 px-10"></app-searcher>
                <div class="flex justify-center items-center space-x-2">
                    @if(currentUser()) {
                        <h3>{{ currentUser()!.email }}</h3>
                    }
                    <p-menu #menu [model]="items()" [popup]="true" />
                    <p-button (onClick)="menu.toggle($event)" icon="pi pi-ellipsis-v"/>
                </div>
            </div>
            <app-searcher *ngIf="apperarBottomSearcher()" class="md:hidden px-10"></app-searcher>
        </div>
    </div>
</div>