@if(listProducts) {
    <div class="grid grid-cols-products p-8 gap-8">
        @for(product of listProducts; track product.id) {
            <div class="w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a [routerLink]="['/fernanpop/product', product.id]">
                    <img class="p-8 rounded-t-lg" src="{{product.img}}"
                        alt="product image" />
                </a>
                <div class="px-5 pb-5">
                    <a href="#">
                        <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                            {{ product.title | titlecase }}
                        </h5>
                    </a>
                    
                    <div class="flex items-center justify-between">
                        <span class="text-xl font-bold text-gray-900 dark:text-white">
                            {{ product.price | monetary }} 
                        </span>
                        <!-- <a href="#"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add
                            to cart</a> -->
                    </div>
                </div>
            </div>
        }
    </div>
} @else {
    <div class="grid grid-cols-products p-8 gap-8">
        @for(i of numbers; track i) {
            <div class="w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <!-- <a [routerLink]="['product']"> -->
                <a href="#">
                    <p-skeleton width="100%" height="150px" class="p-8"></p-skeleton>
                </a>
                <div class="px-5 pb-5">
                    <a href="#">
                        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">
                            <p-skeleton width="10rem" height="20px" styleClass="mb-2"></p-skeleton>
                        </h5>
                    </a>
                    <div class="flex items-center justify-between">
                        <span class="text-3xl font-bold text-gray-900 dark:text-white">
                            <p-skeleton width="8rem" height="20px" styleClass="mb-2"></p-skeleton>
                        </span>
                    </div>
                </div>
            </div>
        }
    </div>
}